<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="//static.twilio.com/libs/twiliojs/1.2/twilio.min.js"></script>
<script>
    $(function(){
    	var device = Twilio.Device;
        device.setup('{{token}}', {debug: true});

        device.ready(function(){
        	console.log('READY');
        });

        device.incoming(function(connection){
        	console.log('INCOMING');
        	if (confirm('Accept call from ' + connection.parameters.From)){
                connection.accept();
            } else {
                console.log('REJECTED');
                connection.reject();
                $.ajax('/sms',
                    {
                        method: 'POST',
                        data: {
                            to: connection.parameters.From,
                            body: 'Sorry! I\'m stuck in a meeting. :( Will call you in a bit. I love you!'
                        }   
                    }
                ).done(function(data){
                    console.log('SMS SENT');
                });
            }
        });

        device.disconnect(function(connection){
        	console.log('DISCONNECTED');
        });

        device.error(function(error){
        	console.log(error)
        });
       
    });
</script>